body{
  padding:0;
  margin:0;
  border:0;
}
@font-face{
  font-family: Gotham Rounded Book;
  src: url('gotham/gotham-rounded-book.eot');
  src: url('gotham/gotham-rounded-book.eot?#iefix') format('embedded-opentype'),
  url('gotham/gotham-rounded-book.otf') format('opentype'),
  url('gotham/gotham-rounded-book.woff') format('woff'),
  url('gotham/gotham-rounded-book.ttf')  format('truetype');
  font-weight: normal;
}
@font-face{
  font-family: Bebas Neue;
  src: url('bebas/regbebas.eot');
  src: url('bebas/regbebas.eot?#iefix') format('embedded-opentype'),
  url('bebas/regbebas.otf') format('opentype'),
  url('bebas/regbebas.woff') format('woff'),
  url('bebas/regbebas.ttf')  format('truetype');
  font-weight: normal;
}
@font-face{
  font-family:Roboto-Slab-Light;
  src: url('roboto-slab-light/roboto-slab-light.eot');
  src: url('roboto-slab-light/roboto-slab-light.eot?#iefix') format('embedded-opentype'),
  url('roboto-slab-light/roboto-slab-light.otf') format('opentype'),
  url('roboto-slab-light/roboto-slab-light.woff') format('woff'),
  url('roboto-slab-light/roboto-slab-light.ttf')  format('truetype');
  font-weight: normal;
}
.headerImage{

  font-size:6em;
  width:100%;
  padding-bottom:3em;
  padding-top:3em;
  color:white;
  height:0px;
  text-align:center;
  background-image:url("http://upload.wikimedia.org/wikipedia/commons/4/47/New_york_times_square-terabass.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.imgs{
  text-align:center;
  margin-top:-275px;
}
.imgs div{
  width:250px;
  height:250px;
  margin:2em;
  display:inline-block;
  text-align:center;
  position:relative;
  border-radius:1000px;
  border: solid 5px white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#arun{
  background-image:url("https://lh6.googleusercontent.com/-f25YbX4r-h4/VKBojMvASmI/AAAAAAAAAZ4/6zC-hsMA_oo/s256-no/27b1007a-9d9e-42eb-8f8f-cd7c32f75c7c");
}


.line{
  height:5px;
  width:100%;
  background-color:gray;

  position:absolute;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

* {margin: 0; padding: 0;}


section {
background: #fff;
box-shadow: 0px 2px 2px #ebebeb;
background-color: #444;
}

header {
width: 900px;
margin: 0 auto;
text-align: center;
position: relative;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #780000 ;
}



@media screen and (min-width: 900px) {
  .nav li {
    width: 150px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  .aboutme{
    position: relative;
    overflow: hidden;
  }
  .bgimg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      opacity: 0.4;
      z-index: 0;
  }
  .otherimg{
    opacity: 1.0;
  }
  .aboutme h1 {
    padding: 10px;
    text-align: center;
      position: relative;
      z-index: 1;
      font-size: 4em;
      font-family: 'Rock Salt', cursive;
  }
  .aboutme p {
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
  }
  .aboutme form {
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
  }
  .footer{
    background-color: #000000;
    padding: 25px;

    font-size: 1em;
    font-family: 'Exo 2', sans-serif;
    color: white;
  }
  .flip3D{
    width:280px;
    height:200px;
    margin:10px;
    float:left;
    z-index: 1;

    }
  .flip3D > .front{
    position:absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    background:#FC0; width:280px; height:200px; border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    z-index: 1;
    font-size: 2.5em;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;

  }
  .flip3D > .back{
    position:absolute;
    transform: perspective( 600px ) rotateY( 180deg );
    background: #80BFFF; width:280px; height:200px; border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    z-index: 1;
    font-size: 1.5em;
    font-family: 'Exo 2', sans-serif;

  }
  .flip3D:hover > .front{
    transform: perspective( 600px ) rotateY( -180deg );
    z-index: 1;
  }
  .flip3D:hover > .back{
    transform: perspective( 600px ) rotateY( 0deg );
    z-index: 1;

    .flipimg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      opacity: 0.4;
      z-index: 0;

    }
  }
